bin/
gen/
local.properties
*.sdf
ipch/
enc_temp_folder/
temp.xml
*.opensdf
*.suo
*.vcxproj.user
*_i.c
*_i.h
*_p.c
*.vspscc
*.o
*.a
*.so
*.log
*.db
*.dblite
bin/
build/
build_debug/
build_release/
protocol_buffers/
pb/
cryptopp/
!responsehandlers/pb
cppunit-1.12.1/
protobuf-2.3.0/
tinyxml/
sqlite/
Debug/
Release/