bin/
gen/
local.properties
*.sdf
Release/
Release_STL/
Debug/
Debug_STL/
tinyXmlTest___Win32_Release/
tinyXmlTest___Win32_Debug/
tinyXmlTestSTL___Win32_Release/
tinyXmlTestSTL___Win32_Debug/
ipch/
enc_temp_folder/
temp.xml
*.opensdf
*.suo
*.vcxproj.user
*_i.c
*_i.h
*_p.c
*.vspscc
*.o
*.a
*.so
*.log
*.db
*.dblite
bin/
build/
build_debug/
build_release/
protocol_buffers/
pb/
cryptopp/
