<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.me.grambo.syncro"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="ServerBrowser"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="FindServer"
        	android:label="@string/app_name">
        </activity>
        <activity android:name="ServerConfig"
        	android:label="@string/app_name">
        </activity>
        <activity android:name="FolderGeneralSettings"
        	android:label="@string/app_name">
        </activity>
        <activity android:name="FolderFilterSettings"
        	android:label="@string/app_name">
        </activity>
        <activity android:name="FolderSyncSettings"
        	android:label="@string/app_name">
        </activity>
        <activity android:name="FolderConfig"
        	android:label="@string/app_name">
        </activity>
    	<service android:name="SyncroService">
    		<intent-filter android:label="StartServiceIntent">
    			<action android:name="uk.me.grambo.syncro.SYNCRO_SYNC"></action>
			</intent-filter>
		</service>
		<receiver android:name="Receiver">
			<intent-filter>
				<action android:name="uk.me.grambo.syncro.START_SERVICE"></action>
			</intent-filter>
		</receiver>
</application>


<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 
